body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.header {
    background-color: rgb(203, 203, 203);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.logoText {
    color: #dc3545;
}

.header .logo .logoText {
    -webkit-text-stroke: 1px #dc3545;
}

.header .form {
    margin-top: 10px;
}

.tableDiv {
    margin-top: 20px;
}

#tbodytd {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}